@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
.ant-table th {
  background-color: #eef2f7 !important ;
  font-size: small !important;
  color: #7c8493 !important; /* Customize the background color */
}
